.generate:active{
    background-color: green;
    scale: 1.05;
}

.error {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}
.dropDownImg{
    cursor: pointer;
}
input[type=checkbox]{
    cursor: pointer;
}

@media (max-width:640px){
    .clearInput{
        transition: 0.3s;
        left:85% !important;
        top: 25% !important;

    }
    .smallCont{
        width: 90vw !important;
    }
    #passwordInput{
        width: 95% !important;
    }
    input[type = text]{
        height: 40px;
        font-size: 15px;
    }
    .copyBtn{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pass{
        flex-direction: column;
        gap: 6px;
    }
    .generate{
        width: 80% !important;
    }
    .customize{
        font-size: 4.8vw !important;
    }
    .encLabel{
        font-size: 4vw !important;
    }
    input[type=checkbox]{
        cursor: pointer;
        width: 3vw !important;
        height: 3vw !important;
    }
   

    label{
        font-size: 2.8vw !important;
    }
}

.clearInput{
    top: 50%;
    transform: translateY(-50%);
}

.clearInput{
    transition: 0.3s;
    right: 110px !important;
    
}
.clearInput:hover{
    scale: 1.1;
    i{
    opacity: 0.4;
        
    }
}