@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

label,
span {
  font-size: 2vw;
  font-family: Pixelify Sans;
  font-weight: 600;
}

input[type=range] {
  width: 15vw;
  height: 2vh;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  background: #ccc;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 2vw;
  width: 2vw;
  background: transparent;
  background-color: lightgoldenrodyellow;
  background-size: cover;
  border-radius: 50%;
  transition: .2s ease-in-out;
  transform: rotateZ(var(--thumb-rotate, 0deg));
  border: 0.5px solid #000;
}


.btns1 button,
.btns2 .save {
  background-color: #f4c430;
  font-size: 2vw;
  width: 10.6vw;
  height: 8vh;
  border-radius: 24px;
}

.btns2 .erase {
  background-color: #f4c430;
  font-size: 2vw;
  width: 10.6vw;
  height: 8vh;
  border-radius: 24px;
}

input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 10.6vw;
  height: 11vh;
}

input[type=color]::-webkit-color-swatch {
  border-radius: 24px;
  border: none;
}

input[type=color]::-moz-color-swatch {
  border-radius: 24px;
  border: none;
}

#save {
  background-color: #5486e3;
  color: white;
}

.disable {
  opacity: 0.6;
  pointer-events: nonne;
}

span {
  font-family: Poppins;
}

.drawPart {
  background-color: white;
}

.drawPart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  width: 100%;
}

.grids {
 
  border: 1px solid black;
  background-color: white;
}

.eraseActive {
  background-color: lightgreen;
  font-size: 2vw;
  width: 10.6vw;
  height: 8vh;
  border-radius: 24px;
  color: #fff;
}

select {
  font-size: 2vw;
  width: 10.6vw;
  height: 8vh;
  border-radius: 24px;
  color: #fff;
background-color: darkgray;
}

button:active{
  scale: 0.9;
  background-color: darkgoldenrod;
}

@media(max-width:640px){
  #forSm{
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
  }
}