* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popsins", sans-serif;
}

:root {
  --backCol: #ffffe0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  background-color: #ffffe0;
}

.logo h2 {
  font-family: "Cedarville Cursive", cursive;
  cursor: pointer;
}

ul li {
  cursor: pointer;
  position: relative;
  display: flex;
}

ul li:hover {
  opacity: 0.7;
}

li::after {
  content: '';
  position: absolute;
  width: 0%;
  top: 100%;
  height: 0.4px;
  background-color: gray;
}

li:hover::after {
  width: 100%;
  transition: 0.3s;
}

.acc {
  border: 0.5px solid gray;
}

.search,
.acc,
.fav {
  border-radius: 50%;
  padding: 4px;
  transition: 0.2s;
}

.search:hover,
.acc:hover,
.fav:hover {
  background-color: lightgray;
  /* transition: 0.1s; */
}

.midTextNich {
  font-family: Playfair Display;

}

.exploreBtn:hover {
  scale: 1.1;
  opacity: 0.4;
}

.menuBtn {
  opacity: 1;
  transition: 0.1s;
  /* transform: translateX(100%); */
}

.menuBtn:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0.3px;
  background-color: #000;
  top: 100%;
  left: 0;
  transition: 0.3s;
}

.menuBtn:hover {
  scale: 1.2;
}

.menuBtn:hover::after {
  width: 100%;
}

.wapasLogo {
  font-family: "Cedarville Cursive", cursive;
  rotate: -10deg;
  cursor: pointer;
  font-size: 3vw;
}

.up ul {
  gap: 1vw;
  font-size: 12px;

}

ul li a {
  font-size: 2vw;
}

.footLine {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60%;
  background-color: #000;
  height: 0.5px;
}

.searchFixBtn {
  opacity: 1;
  transition: 0.1s;
  /* transform: translateX(100%); */
}

.searchFixBtn:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0.3px;
  background-color: #000;
  top: 100%;
  left: 0;
  transition: 0.3s;
}

.searchFixBtn:hover {
  scale: 1.2;
}

.searchFixBtn:hover::after {
  width: 100%;
}

li a {
  text-wrap: nowrap;
}

.qrPic {
  height: 100%;
}

.wpDiv>select {
  width: 17vw;
}

.wpDiv button {
  width: 17vw;
}

.qrPic {
  z-index: -1;
  transform: translateX(-100%);
  transition: 0.3s;
}



/* .qrPic .img img{
  height: 90%;
} */
.pdfConvCont {
  position: relative;
}

.convertBtn {
  background-color: red;
}

.upload {
  width: 30vw;
  position: relative;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 1vh 0;
  cursor: pointer;
  transition: 0.2s;
}

.uploadJs {
  /* content:'+ Choose FIle' ; */
  border-radius: 50%;
  background-color: red;
  position: fixed;
  width: 50px;
  height: 50px;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  right: 2vw;
  top: 70%;
  /* content: ''; */
  .cf{
    display: none;
  }
  .imgCount{
    font-size: 12px;
    display: flex;
  }
}

.uploadJs::after {
  content: '+';
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 5vw;
  pointer-events: none;
}

.uploadJs::before {
  content: 'Add more images';
  transition: 0.2s;
  transform-origin: left;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  justify-content: start;
  align-items: center;
  position: absolute;
  padding-left: 8px;
  width: 0px;
  /* height: 50px; */
  display: flex;
  background-color: white;
  border: 0.6px solid black;
  height: 0;
  right: 60%;
  color: #000;
  font-size: 1px;
}
.imgCount{
  padding: 5px;
  width: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  height: 20px;
  top: -25%;
  border-radius: 50%;
  border: 0.4px solid black;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  left: -18%;
}
.uploadJs:hover{
  scale: 1.05;
}
.uploadJs:hover::before {
  /* display: flex; */
  height: 50px;
  width: 150px;
  font-size: 15px;
}

.imgCont {
  width: 150px;
  height: 211.5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  object-fit: contain;
  /* object-position: center; */

}

.convt {

  width: 140px;
  height: 30px;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
  gap: 5vw;
  align-items: center;
}

.PDFdownBtn {
  background-color: cornflowerblue;
  border-radius: 40px;
  position: absolute;
  right: 8vw;
  top: 50%;
  width: 18vw;
  font-size: 1.8vw;
  padding: 2vh 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.downBtn {
  width: 100% !important;
  transition: 0.2s;
}

.downBtn:hover {
  scale: 1.1;
  opacity: 0.8;
}





@media (max-width: 640px) {
  .eTc {
    font-size: 8vw !important;
    margin-top: 4vh;
  }

  .upload {
    width: 60vw;
    position: relative;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 1vh 0;
    cursor: pointer;
    transition: 0.2s;
    /* font-size: 4vw; */
  }

  .upload label {
    font-size: 6vw !important;
  }

}